@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --bezova :#D5C7BC;
    --sedo-hneda : #454545;
    --skoro-bila: #F1FFFA;
    --vinova: #785964;
    --zelena: #93B7BE;
    --cerna: black;
}

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--skoro-bila);
}

.img-responsive {
    width: 100%;
    height: 100%;
}

.header{
    background-color: var(--bezova);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    gap: 2em;
}

.header__company{
    margin: 0;
    font-size: 1.5em;
    text-decoration: none;
    color: var(--cerna);
}

.header__cats{
    margin: 0 1em 0 1em;
    text-decoration: none;
    color: var(--cerna);
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .header__cats{
        display: block;
        text-align: center;
    }
}

.header__contact{
    padding: .5em 1em;
    border-radius: .6em;
    background-color: white;
    text-decoration: none;
    color: var(--cerna);
}

.main__heading{
    margin-top: 2em;
    text-align: center;
}
.main__question_box{
    margin: 5em auto 0 auto;
    display: flex;
    width: 180px;
    flex-wrap: wrap;
    justify-content: center;
}

.main__question{
    display: inline-block;
    padding: .3em .5em;
    background-color: var(--bezova);
    text-decoration: none;
    color: var(--cerna);
    border-radius: .4em;
}
.main__answers{
    margin-top: 2.5em;
    display: flex;
    width: 170px;
    justify-content: space-between;
    
}

.main__answer{
    padding: .8em 1em;
    background-color: var(--bezova);
    text-decoration: none;
    color: var(--cerna);
    border-radius: .4em;
}

.foot{
    background-color: var(--sedo-hneda);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--bezova);
    padding: 1.5em 0;
}















.right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.right__question_box{
    margin: 5em auto 0 auto;
    display: flex;
    width: 180px;
    flex-wrap: wrap;
    justify-content: center;
}

.right__question{
    display: inline;
    padding: 1em 1em 1em 1em;
    background-color: var(--zelena);
    text-decoration: none;
    color: var(--cerna);
    border-radius: .4em;
    font-size: 1em;
    margin-bottom: 5em;
}

.right__answer{
    padding: .5em 1em;
    background-color: var(--bezova);
    text-decoration: none;
    color: var(--cerna);
    border-radius: .4em;
    margin: 0 auto;
}
















.wrong {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrong__question_box{
    margin: 5em auto 0 auto;
    display: flex;
    width: 180px;
    flex-wrap: wrap;
    justify-content: center;
}

.wrong__question{
    display: inline;
    padding: 0.5em 1em 0.5em 1em;
    background-color: var(--vinova);
    text-decoration: none;
    color: var(--cerna);
    border-radius: .4em;
    font-size: 1em;
    margin-bottom: 5em;
}

.wrong__answer{
    padding: .5em 1em;
    background-color: var(--bezova);
    text-decoration: none;
    color: var(--cerna);
    border-radius: .4em;
    margin: 0 auto;
}

.gallery__kotatka{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 4%;
}

@media only screen and (max-width: 600px) {
    .gallery__kotatka {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 4%;
        margin-bottom: 25%;
    }
}